<h1>{{title}}</h1>
{{>navbar}}
{{#if fiboval}}
    <p> Mixing {{fibonum}} </p>
     <p>Produces {{fiboval}}</p>
    <hr/>
{{/if}}
<p>Enter sum chemicals!</p>
<form name ='fibonacci' action ='/fibonacci' method="get">
<input type ='text' name='fibonum' />
<input type ='submit' value='Submit' />
</form>